@model BudgetWeb.Models.LogEntryView

@{
    ViewData["Title"] = "LogForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LogForm</h1>

<h4>LogEntryView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateLog">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop" class="control-label"></label>
                <input asp-for="Shop" class="form-control" />
                <span asp-validation-for="Shop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill" class="control-label"></label>
                <input asp-for="Bill" class="form-control" />
                <span asp-validation-for="Bill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonWhoPaid" class="control-label"></label>
                <input asp-for="PersonWhoPaid" class="form-control" />
                <span asp-validation-for="PersonWhoPaid" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPaid" /> @Html.DisplayNameFor(model => model.IsPaid)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateLog" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default" asp-controller="Logs" asp-action="Logs">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
